{% extends 'base.html' %}

{% block title %}{{ material.title }}{% endblock %}
{% block footer_class %}hidden{% endblock %}

{% block content %}
{% include 'edu_materials_next/includes/material_iframe.html' with material=material material_render_url=material_render_url frame_src=material_frame_src frame_mode='runtime' frame_title=material.title hide_frame_header=True frame_shell_classes='h-[100dvh] w-full bg-slate-950' frame_stage_classes='h-[100dvh] w-full bg-white' iframe_classes='block h-full w-full bg-white' %}
{% endblock %}
