{% extends 'base.html' %}

{% block title %}{{ material.title }}{% endblock %}
{% block footer_class %}hidden{% endblock %}

{% block extra_css %}
<style>
    .edu-materials-run-shell {
        background: #020617;
    }
</style>
{% endblock %}

{% block content %}
<section class="edu-materials-run-shell min-h-screen">
    {% include 'edu_materials/includes/material_iframe.html' with material=material material_render_url=material_render_url frame_mode='runtime' frame_title=material.title hide_frame_header=True frame_shell_classes='h-[100dvh] w-full bg-slate-950' frame_stage_classes='h-[100dvh] w-full bg-white' iframe_classes='block h-full w-full bg-white' %}
</section>
{% endblock %}
